{% extends 'blog/layout/base.html' %}
{% load static %}
{% block content %}
<section class="about-header">
    <section class="about-title">
        <div>
            <img src="{% static 'icons/share.svg' %}" alt="share">
        </div>
        <hr>
        <h2>About Us</h2>
    </section>
    <section class="about-header-nav">
        <div>
            <p class="active-nav">Our mission </p>
            <p>What drives our news rooms</p>
        </div>
        <hr>
        <div>
            <p>Our advertising partners</p>
            <p>How we make money</p>
        </div>
    </section>
</section>
<section class="about-mission">
    <h2>Our Mission</h2>
    <hr>
    <div class="mission-detail">
        <ul>
            <li>
                What we do is pretty simple; we explain the biggest stories to you in a way that you can
                actually relate to and therefore properly understand.
            </li>
            <li>
                We strip past the noise, fluff, polarization and BS to try show you that understanding
                what’s going on in the world isn’t as difficult as it may appear.
            </li>
        </ul>
        <span>
            If you feel as if we haven’t lived up to this, let us know here.
        </span>
    </div>
</section>
{% endblock content %}
{% block footer %}
<section class="banner article-banner">
    <div class="subscription">
        <div class="news-letter">
            <h4>SUBSCRIBE TO THE TMS NEWSLETTER</h4>
            <div class="signup-form">
                <img src="{% static 'icons/email_dark.svg' %}" alt="email">
                <input type="text" placeholder="Email">
                <button type="submit">Sign up</button>
            </div>
            <p>By providing your email, you agree to our Privacy Policy</p>
        </div>
        <div class="share">
            <h2>Share this page using the link down below</h2>
            <button class="copy-btn">
                <img src="{% static 'icons/copy-link.svg' %}" alt="copy link">
                <span>Copy link</span>
            </button>
        </div>
    </div>
</section>
<section class="social">
    <img src="{% static 'icons/twitter_dark.svg' %}" alt="twitter">
    <img src="{% static 'icons/linkedin_dark.svg' %}" alt="linked in">
    <img src="{% static 'icons/facebook_dark.svg' %}" alt="Facebook">
    <img src="{% static 'icons/bookmark_dark.svg' %}" alt="bookmark">
    <img src="{% static 'icons/more_dark.svg' %}" alt="more">
</section>
<section class="copy-right">
    The Millennial Source Ltd. 2021
</section>

{% endblock footer %}