{% extends 'blog/layout/base.html' %}
<!-- main start -->
{% load static %}
{% block content %}
<main>
    <section class="buss-header">
        <div class="page-title">
            <div>
                <img src="{% static 'icons/share.svg' %}" alt="share">
            </div>
            <hr>
        </div>
        <div class="buss-offer">
            <h1>What we offer</h1>
            <div>
                <img src="{% static 'images/buss-offer-logo_sm.png' %}" alt="">
                <ul>
                    <li>We don’t work with many advertising partners at one time and instead, focus on a few
                        with a strong alignment with our brand, our values, our audience’s interests and that
                        we’re confident we can grow. </li>
                    <li>When we do work with you, our team works to truly understand your company and your
                        current situation, from there, craft highly curated campaign. </li>
                    <li>From brand awareness to brand validation to strengthened market positioning – we’ll hone
                        in, work with you side by side and put our partnered content in front of our influential
                        audience. </li>
                    <li>Our packages include multiple advertorials, social media pushes as well as finding the
                        right people to comment on your product. </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="buss-audience">
        <h1>Our audience</h1>
        <div>
            <div>
                <div>59%</div>
                <div>
                    of our readers are male, with 48% them between 18-44
                    <hr>
                </div>
            </div>
            <div>
                <div>41%</div>
                <div>of our audience are female, with 50% of them between 18-44
                    <hr>
                </div>
            </div>
            <div>
                <div>56%</div>
                <div>
                    of our audience are single or in a relationship
                    <hr>
                </div>
            </div>
            <div>
                <div>44%</div>
                <div> are married
                    <hr>
                </div>
            </div>
            <div>
                <div>77%</div>
                <div>of our readers are college educated
                    <hr>
                </div>
            </div>
        </div>
        <div class="buss-readers-stats">
            <div class="buss-lists">
                <h2>Our female readers are:</h2>
                <ul>
                    <li>Bargain hunting fashionistas</li>
                    <li>Beauty Mavens</li>
                    <li>Foodies</li>
                    <li>Travel buffs</li>
                    <li>Media & Entertainment lovers (especially movies)</li>
                    <li>Art & Theater Aficionados</li>
                    <li>Green Living Enthusiasts </li>
                </ul>
            </div>
            <div class="buss-lists">
                <h2>Our male readers are:</h2>
                <ul>
                    <li> Value shoppers</li>
                    <li>Tech lovers</li>
                    <li> Business travelers/ Travel buffs</li>
                    <li> Business professionals media lovers</li>
                    <li> Avid news readers </li>
                    <li> Health and fitness buffs </li>
                    <li> Avid Investors </li>
                    <li> Luxury shoppers</li>
                </ul>
            </div>

        </div>
    </section>
    <section class="buss-pd">
        <h1>An interest in self development and care</h1>
        <hr>
        <div>
            <div>
                <span>Financial and investment services</span>
                <span>Post-graduate education</span>
                <span>Travel & Dating</span>
            </div>
            <hr>
            <div>
                <span>Employment</span>
                <span>Real estate</span>
                <span>Beauty, apparel and personal care </span>
            </div>
        </div>
    </section>
    <section class="buss-cs">
        <h1>CASE STUDY</h1>
        <hr>
        <img src="{% static 'images/case_study_logo.png' %}" alt="case study logo" />
        <div class="case-study-detail">

            <p>"Golf Athletics is a start-up that's only 9 months old. As we've recently developed our digital
                golf curriculum product (The Golf Athletics Blueprint) and proven its success with live
                examples, we were missing validation from the industry. </p>

            <p>Having spoken to Krystal & her team from TMS, we briefed her team to help create a digital PR
                asset that we could use for the next 24 months. In our initial brand briefing, we explored our
                brand, our product and its complex values for golfers around the world. the TMS team was very
                patient, open and really immersed themselves in our brand, which is evident in the outcome of
                the digital PR project.</p>

            <p>Krystal and her team utilized her network and found an amazing contact (an ex-tour professional).
                The article that was created surpassed our expectations. We managed to acquire an unbiased
                opinion about our brand and product that mirrored our values. For us this outcome is invaluable
                as it was genuine, insightful for our future customers and tells a story of our passion to help
                make golf more accessible to golfers around the world. </p>

            <p>We have a mission to make golf easier to learn & play. Since having the PR asset, we have had
                many new opportunities for partnerships and an increased awareness & consideration of our brand.
            </p>

            <p>The TMS team worked really hard to create a peice of PR that we will use to support our growth of
                the brand. We are extremely pleased!"</p>

            <i>Kevin Hooi – Commercial Director, Co-Founder</i>

        </div>
        <div class="btn-horzontal">
            <button>golfathletics site</button>
            <button>Read the article</button>
        </div>
        <div>
            <p>
                <h4>The problem:</h4> Golf Athletics had a clear understanding of their mission and had very
                quickly,
                proven their monetization strategy. However, they were struggling to validate their product
                within a legacy sport and also gain recognition beyond their market.
            </p>

            <p>
                <h4>The campaign:</h4> Understanding the situation, we spent two weeks coming up with different ways
                we could work with Golf Athletics to take their brand to the next level.
            </p>

            <p>The campaign chosen by the Golf Athletics team involved reaching out to our network and
                connecting the product with an industry insider, an ex-golf pro. </p>

            <p>
                We spent several weeks ensuring that our hand-picked source fully understood the USPs of the
                company’s product and Golf Athletics’ mission to maximize the chances of a positive,
                objective review. </p>

            <p>It is with this that Golf Athletics were able to use the digital assets created from the
                campaign and open up more business opportunities.</p>
        </div>
    </section>
    <section class="buss-enq-form-link">
        Fill out <i>this</i> advertising enquiry form and a sales representative will reach out within 24 hours.
    </section>
</main>
{% endblock %}

{% block footer %}
<section class="social">
    <img src="{% static 'icons/twitter_dark.svg' %}" alt="twitter">
    <img src="{% static 'icons/linkedin_dark.svg' %}" alt="linked in">
    <img src="{% static 'icons/facebook_dark.svg' %}" alt="Facebook">
    <img src="{% static 'icons/bookmark_dark.svg' %}" alt="bookmark">
    <img src="{% static 'icons/more_dark.svg' %}" alt="more">
</section>
<section class="copy-right">
    The Millennial Source Ltd. 2021
</section>
{% endblock footer %}