{% extends 'blog/layout/base.html' %}
{% block title %} Article {% endblock title %}
<!-- main start -->
<!-- {% load static %} -->
{% block content %}
<main>

    <section class="article-top-wrapper">
        <div class="article-reading-info">
            <span>
                {% comment %} May 13, 2021 {% endcomment %}
                {{post.post_date|date:'F m, Y'}}
                <hr>
            </span>
            <span>Reading Time: 7 mins read</span>
        </div>
        <div class="article-title">
            <p>{{ post.post_title}}</p>
            {% comment %} <p>Violence continues to escalate between Israelis and Palestinians</p> {% endcomment %}
        </div>
        <div class="article-row">
            <div class="article-author">
                <p>by {{post.author}}</p>
                <p>
                    Photo Source: Toby Melville, Reuters
                </p>
            </div>
            <div class="social">
                <img src="{% static 'icons/twitter_dark.svg' %}" alt="twitter">
                <img src="{% static 'icons/linkedin_dark.svg' %}" alt="linked in">
                <img src="{% static 'icons/facebook_dark.svg' %}" alt="Facebook">
                <img src="{% static 'icons/bookmark_dark.svg' %}" alt="bookmark">
                <img src="{% static 'icons/more_dark.svg' %}" alt="more">
            </div>
        </div>
    </section>
    <section class="article-header">                
        <img src="{{post.feature_image_url.url}}" alt="feature image"/>        
            <p>{{head_line}}</p>
    </section>
    <section class="article-detail">
    {{post.post_content|safe }}        
    </section>
    <section class="article-footer">        
        <section class="article-rating">
            <div>Rate this explanation </div>
            <div>
                <div class="rating-selection">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                    <span>6</span>
                    <span>7</span>
                    <span>8</span>
                    <span>9</span>
                    <span>10</span>

                </div>
                <hr>
            </div>
            <div>Sign up to rate this article</div>
            <div class="rating-actions">
                <button>Continue with email</button>
                <button class="icon-button">
                    {% comment %} <img src="icons/gmail_2020.svg" alt=""> {% endcomment %}
                    <img src="{% static 'icons/gmail_2020.svg' %}" alt="">
                    <span>continue with gmail</span>
                </button>
            </div>
        </section>
    </section>
    <section class="article-latest-news">
        <div>
            <h1>Latest Posts</h1>
            <hr>
            <div class="new-container">
                <section class="news-with-image">
                    {% comment %} <img src="images/article_4.png" alt="covid"> {% endcomment %}
                    <img src="{% static 'images/article_4.png' %}" alt="">
                    <h1>Arkansas becomes first U.S. state to ban treatments for transgender youth</h1>
                    <p>Overriding a veto by Governor Asa Hutchinson, Arkansas has become the first US state to
                        ban
                        certain types of treatment for transgender youth.</p>
                    <div class="news-stats">
                        <img src="{% static 'icons/likes_dark.svg' %}" alt="">
                        10,543
                    </div>
                </section>
                <section class="news-list">
                    <section class="news">
                        <h1>Eating our lunch: Biden points to China in development push</h1>
                        <p>US President Joe Biden is pointing to a booming, ambitious China in his push for
                            trillions of dollars in development spending.</p>
                        <div class="news-stats">
                            <img src="{% static 'icons/likes_dark.svg' %}" alt="">
                            10,543
                        </div>
                    </section>
                    <section class="news">
                        <h1>World Bank chief expects G20 to extend debt payment freeze through end-2021</h1>
                        <p>The World Bank president expects China, the US and other G20 major economies to
                            extend a
                            freeze in bilateral debt service payments through the end of 2021.</p>
                        <div class="news-stats">
                            <img src="{% static 'icons/likes_dark.svg' %}" alt="">
                            10,543
                        </div>
                    </section>
                    <section class="news">
                        <h1>Eating our lunch: Biden points to China in development push</h1>
                        <p>US President Joe Biden is pointing to a booming, ambitious China in his push for
                            trillions of dollars in development spending.</p>
                        <div class="news-stats">
                            <img src="{% static 'icons/likes_dark.svg' %}" alt="">
                            10,543
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
<section class="social">
    <img src="{% static 'icons/twitter_dark.svg' %}" alt="twitter">
    <img src="{% static 'icons/linkedin_dark.svg' %}" alt="linked in">
    <img src="{% static 'icons/facebook_dark.svg' %}" alt="Facebook">
    <img src="{% static 'icons/bookmark_dark.svg' %}" alt="bookmark">
    <img src="{% static 'icons/more_dark.svg' %}" alt="more">
</section>
<section class="copy-right">
    The Millennial Source Ltd. 2021
</section>
{% endblock footer %}