{% load static %}
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_light.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_menu.css' %}">
    <title>Home </title>
</head>

<body>
    <!-- menu start  -->
    <div class="menu-wrapper" id="main-menu">
        <nav>
            <div class="menu-header">
                <img src="{% static 'icons/close.svg' %}" alt="close" class="close-icon" id="close-button">
                <div class="menu-search">
                    <div>
                        <img src="{% static 'icons/search.svg' %}" alt="search">
                        <input type="text" name="search" placeholder="Search">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="menu-category">
                <div class="menu-discover">
                    <h1 class="menu-title">Discover</h1>
                    <div class="menu-body">
                        <a href="{% url 'blog:about-us' %}">About Us</a>
                        <a href="{% url 'blog:contact-us' %}">Careers</a>
                        <a href="{% url 'blog:contact-us' %}">Contact</a>
                        <a href="{% url 'blog:advertise' %}">Advertise</a>
                        <a href="#">Archives</a>
                        <a href="{% url 'blog:write-for-us' %}">Write for us</a>
                        <a href="{% url 'blog:send-us-your-pr' %}">Send us your press release</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">Terms of service</a>
                    </div>
                </div>
                <div class="menu-hot-topics">
                    <h1 class="menu-title">Reads On</h1>
                    <div class="menu-body">
                        <a href="#">Crypto</a>
                        <a href="#">Startups</a>
                        <a href="#">Economy</a>
                        <a href="#">Electric vehicles</a>
                        <a href="#">Superpower relations</a>
                        <a href="#">Tech giants</a>
                        <a href="#">Climate change</a>
                        <a href="#">Future of work</a>
                        <a href="#">Cultural movements </a>
                        <a href="#">Space race</a>
                        <a href="#">Banking giants</a>
                    </div>
                </div>
                <div class="menu-lifestyle">
                    <h1 class="menu-title">Life Style</h1>
                    <div class="menu-body">
                        <a href="#">Health</a>
                        <a href="#">Travel</a>
                        <a href="#">Entertainment</a>
                        <a href="#">Technology</a>
                    </div>
                </div>
                {% comment %} <div class="menu-more">
                    <h1 class="menu-title">More</h1>
                    <div class="menu-body">
                        <a href="#">Future of work</a>
                        <a href="#">Cultural movements </a>
                        <a href="#">Space race</a>
                        <a href="#">Banking giants</a>
                    </div>
                </div> {% endcomment %}
                <div class="menu-social">
                    <h1 class="menu-title">Follow us</h1>
                    <div>
                        <img src="{% static 'icons/twitter_m.svg' %}" alt="twitter">
                        <img src="{% static 'icons/linkedin_m.svg' %}" alt="linkedin">
                        <img src="{% static 'icons/facebook_m.svg' %}" alt="facebook">
                        <img src="{% static 'icons/insta_menu.svg' %}" alt="insta">
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- menu end  -->
    {% comment %} {% for m in menus %}
        {{m.title}}
    {% endfor %} {% endcomment %}
    <div class="container">
        <header>
            <div class="inner">
                <div class="left-content">
                    <div class="menu-button">
                        {% comment %} <img src="{% static 'icons/Menu_dark.svg' %}" alt="menu" id="show-button">
                        {% endcomment %}
                        <svg width="29" height="38" viewBox="0 0 29 38" fill="none" xmlns="http://www.w3.org/2000/svg" id="show-button">
                            <line y1="13.25" x2="20" y2="13.25" stroke="black" stroke-width="1.5" />
                            <line y1="18.25" x2="20" y2="18.25" stroke="black" stroke-width="1.5" />
                            <line y1="23.25" x2="20" y2="23.25" stroke="black" stroke-width="1.5" />
                        </svg>
                    </div>

                    <div class="view">
                        {% comment %} <img src="{% static 'icons/top_views.svg' %}" alt="views" class="icon-view">
                        {% endcomment %}
                        <svg width="78" height="44" viewBox="0 0 78 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M76.8699 21.6458C76.7015 21.4434 59.6971 1 38.9977 1C18.2982 1 1.29393 21.4434 1.12546 21.6458C1.0443 21.746 1 21.871 1 22C1 22.129 1.0443 22.2541 1.12546 22.3542C1.29393 22.5566 18.2982 43 38.9977 43C59.6971 43 76.7015 22.5679 76.8699 22.3655C76.954 22.2644 77 22.1371 77 22.0056C77 21.8741 76.954 21.7468 76.8699 21.6458Z"
                                fill="#EEEFEF" stroke="#38B6FF" />
                        </svg>
                        <div class="overlay-text">25K</div>
                    </div>

                </div>
                <div class="center-content">
                    <a href="{% url 'blog:home' %}">
                        {% comment %} <h1 class="title">TMS</h1> {% endcomment %}
                        <img src="{% static 'images/logo_dark.png' %}" alt="logo" height="36" id="site-logo">
                        {% comment %} <img src="{% static 'images/logo_light.png' %}" alt="logo" height="36"> {% endcomment %}
                    </a>
                </div>

                <div class="right-content">

                    <div class="theme-change-button">
                        {% comment %} <img src="{% static 'icons/light.svg' %}" alt=""> {% endcomment %}
                        <button id="switch" onclick="toggleTheme()">Switch</button>
                    </div>
                    <div class="current-date">
                        {% now " l, F d, Y" %}
                        <hr>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}

        {% endblock %}
        <footer>
            {% block footer %}

            {% endblock footer %}
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{% static 'js/GreetingPlugin.js' %} "></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>