{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_light.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_menu.css' %}">
    <title>Home </title>
</head>

<body>
    <!-- menu start  -->
    <div class="menu-wrapper" id="main-menu">
        <nav>
            <div class="menu-header">
                <img src="icons/close.svg" alt="close" class="close-icon" id="close-button">
                <div class="menu-search">
                    <div>
                        <img src="icons/search.svg" alt="search">
                        <input type="text" name="search" placeholder="Search">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="menu-category">
                <div class="menu-discover">
                    <h1 class="menu-title">Discover</h1>
                    <div class="menu-body">
                        <a href="#">About Us</a>
                        <a href="#">Careers</a>
                        <a href="#">Contact</a>
                        <a href="#">Advertise</a>
                        <a href="#">Archives</a>
                        <a href="#">Write for us</a>
                        <a href="#">Send us your press release</a>
                        <a href="#">Privacy policy</a>
                        <a href="#">Terms of service</a>
                    </div>
                </div>
                <div class="menu-hot-topics">
                    <h1 class="menu-title">Hot Topics</h1>
                    <div class="menu-body">
                        <a href="#">Crypto</a>
                        <a href="#">Startups</a>
                        <a href="#">Economy</a>
                        <a href="#">Electric vehicles</a>
                        <a href="#">Superpower relations</a>
                        <a href="#">Tech giants</a>
                        <a href="#">Climate change</a>
                    </div>
                </div>
                <div class="menu-more">
                    <h1 class="menu-title">More</h1>
                    <div class="menu-body">
                        <a href="#">Future of work</a>
                        <a href="#">Cultural movements </a>
                        <a href="#">Space race</a>
                        <a href="#">Banking giants</a>
                    </div>
                </div>
                <div class="menu-social">
                    <h1 class="menu-title">Follow us</h1>
                    <div>
                        <img src="icons/twitter_m.svg" alt="twitter">
                        <img src="icons/linkedin_m.svg" alt="linkedin">
                        <img src="icons/facebook_m.svg" alt="facebook">
                        <img src="icons/insta_menu.svg" alt="insta">
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- menu end  -->
    <div class="container">
        <header>
            <div class="inner">
                <div class="left-content">
                    <div class="menu-button">
                        <img src="{% static 'icons/Menu_dark.svg' %}" alt="menu">
                    </div>

                    <div class="view">
                        <img src="{% static 'icons/top_views.svg' %}" alt="views">
                        <div class="overlay-text">25K</div>
                    </div>

                </div>
                <div class="center-content">
                    <h1 class="title">TMS</h1>
                </div>

                <div class="right-content">

                    <div class="theme-change-button">
                        <img src="{% static 'icons/light.svg' %}" alt="">
                    </div>
                    <div class="current-date">
                        Monday, April 12, 2021
                        <hr>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}

        {% endblock %}
        <footer>
            <section class="social">
                <img src="{% static 'icons/twitter_dark.svg' %}" alt="twitter">
                <img src="{% static 'icons/linkedin_dark.svg' %}" alt="linked in">
                <img src="{% static 'icons/facebook_dark.svg' %}" alt="Facebook">
                <img src="{% static 'icons/bookmark_dark.svg' %}" alt="bookmark">
                <img src="{% static 'icons/more_dark.svg' %}" alt="more">
            </section>
            <section class="copy-right">
                The Millennial Source Ltd. 2021
            </section>
        </footer>
    </div>

</body>

</html>