@import "partials/variables.scss";
@import "partials/mixins.scss";



footer {
    background: $themecolor;
    padding: 30px 0;
    color: $white;
    @media only screen and (max-width: 480px) {
        margin-top: 40px;
    }
    .paragraph{
        padding-right: 70px;
    }
    p{
        color: $white;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        font-family: 'helveticabold';


        margin-bottom: 15px;
        color: $white;
        @media only screen and (max-width: 768px) {
            font-size: 22px;
            line-height: 25px;
        }
@media only screen and (max-width: 480px) {}
    }
    .links-footer{
        ul{
            li{
                margin-bottom: 10px;
                position: relative;
                padding-left: 25px;
                &:before{
                    content: '';
                    background-color:  $white;
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    vertical-align: middle;
                    position: absolute;
                    left: 0;
                    top: 5px;
                }
                a{
                    font-size: 20px;
                    line-height: 23px;                    
                    color: $white;
                    display: inline-block;
                    vertical-align: middle;
                    @media only screen and (max-width: 768px) {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
                &:hover{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .social-links{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                max-width: 50%;
                flex: 50%;
                margin-bottom: 10px;
                a{
                    i{
                        font-size:32px;
                        color:  $white;
                    }
                }
            }
        }
    }
}

.stick{
    .sticky-share{
        position: fixed;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    }
}

.sticky-share{
    transition: all ease 0.5s;
    right: 0;
    bottom: 40vh;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    border-radius: 12px 0px 0px 12px;
    background: #F7F7F7;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;

    

ul{
        li{
            padding: 15px;
            a{
                color: $themecolor;
                font-size: 26px;
            }
        }
    }
}