@import "partials/variables.scss";
@import "partials/mixins.scss";


header {
    position: relative;

    .menu-icon {
        position: relative;
        top: 75px;
        display: inline-block;
        @media only screen and (max-width: 768px) {
            top: 27px;

            img{
                height: 14px;
            }
        }

    }
    .logo{
        .desktop-logo{
            @media only screen and (min-width: 768px) {
                display: block;
                margin: auto;
            }
            @media only screen and (max-width: 768px) {
                display: none;
            }

        }
        .mobile-logo{
            @media only screen and (max-width: 768px) {
                display: block;
                margin: auto;
            }
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }
    }

    .menu-toggle {
        width: 310px;
        position: fixed;
        top: 0;
        bottom: 0;
        border: 0;
        background: #185f7d;
        color: #fff;
        text-align: center;
        box-shadow: -8px 3px 6px rgba(0, 0, 0, .19);
        opacity: 1;
        z-index: 1064;
        left: -1000px;
        padding: 30px;
        height: 100vh;

        .close-menu {
            position: absolute;
            top: 0;
            right: 0;

            img {
                height: 45px;

            }
        }

        ul {
            text-align: left;

            li {
                margin-bottom: 10px;

                a {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }

    .newsletter-form {
        text-align: center;
        max-width: 500px;
        margin: 50px auto;
        @media only screen and (max-width: 480px) {
      margin-top: 10px;
      margin-bottom: 10px;
        }

        h2 {
            font-family: 'helveticabold';
            font-style: normal;
            margin-bottom: 5px;
            font-size: 36px;
            line-height: 41px;
            color: $themecolor;

            @media only screen and (max-width: 768px) {
                font-size: 24px;
                line-height: 28px;
            }

            @media only screen and (max-width: 480px) {
                font-size: 18px;
                margin-bottom: 0;
                line-height: 20px;
            }
        }

        p {
            @media only screen and (max-width: 480px) {
                font-size: 12px;
            }
        }

        form {
            overflow: hidden;
            height: 40px;
            width: 400px;
            margin: 0 auto 15px;
            position: relative;
            @media only screen and (max-width: 480px) {
                width: 100%;
            }

            input {
                width: 100%;
                border: 1px solid #E5E5E5;
                border-radius: 0px;
                height: 40px;
                padding: 10px 0 10px 15px;
                outline: none;
                color: rgba(0, 0, 0, 0.36);

                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;

                &:focus {
                    border: 1px solid #999;


                }
            }

            button {
                position: absolute;
                z-index: 999;
                right: 0;
                top: 0;
                height: 39px;
                border: none;
                background: #185F7D;
                color: white;
                padding: 0;
                margin: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                text-transform: uppercase;
                width: 120px;
                text-align: center;
                cursor: pointer;


            }
        }
    }
}